@using Microsoft.AspNetCore.Mvc.Localization;

@inject IViewLocalizer Localizer


@{
    ViewData["Title"] = "Home";
}

<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />

<div id="HomeContainer">
    <h3>@Localizer["Welcome"]</h3>
</div>



